<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace" xmlns="https://logging.apache.org/xml/ns"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xsi:schemaLocation="
                   https://logging.apache.org/xml/ns
                   https://logging.apache.org/xml/ns/log4j-config-2.xsd">
  <Appenders>
    <Console name="CONSOLE"> 
      <PatternLayout pattern="%p - %m%n"/>
    </Console>
    <CloudWatchAppender name="CLOUDWATCH"> 
    </CloudWatchAppender>
  </Appenders>
  <Loggers>
    <Root level="INFO"> 
      <AppenderRef ref="CONSOLE" level="DEBUG"/>
      <AppenderRef ref="CLOUDWATCH"/>
    </Root>
    <Logger name="org.example" level="DEBUG"> 
      <AppenderRef ref="CLOUDWATCH"/>
    </Logger>
  </Loggers>
</Configuration>
